.animated-image {
    padding-bottom: 126.25%;
    position: relative;
    overflow: hidden;
}

.animated-image .placeholder {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 104%;
    height: 104%;
    top: 0;
    left: 0;
    margin: -1% auto auto -1%;
    background-color: white;
    transition: opacity .4s ease;
    opacity: 1;
    pointer-events: none;
    user-select: none;
    z-index: 1;
    opacity: 1;
}

.animated-image .media-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    outline: 1px solid transparent;
    display: block;
    top: 0;
    left: 0;
    transform: scale(1.1);
    transition: transform .4s ease;
}