.home-list {
    width: 30vw;
    right: 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    z-index: 1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.home-list img {
    object-fit: cover;
    width: 100%;
    height: 85vh;
    margin: 20px 0;
    aspect-ratio: auto 360 / 480;
}