.project-description-wrap {
    width: 40%;
    padding: 4vw 4vw 4vw 40px;
    pointer-events: all;
    font-family: monospace, monospace;
    font-size: 1em;
    text-transform: uppercase;
    mix-blend-mode: difference;
}